.vs/
packages/
WLPrivateServer/bin
WLPrivateServer/obj
WLPrivateServer.Bootstrapper/bin
WLPrivateServer.Bootstrapper/obj
WLPrivateServer.Characters/bin
WLPrivateServer.Characters/obj
WLPrivateServer.DataAccessLayer/bin
WLPrivateServer.DataAccessLayer/obj
WLPrivateServer.DataFileViewer/bin
WLPrivateServer.DataFileViewer/obj
WLPrivateServer.Equipment/bin
WLPrivateServer.Equipment/obj
WLPrivateServer.Items/bin
WLPrivateServer.Items/obj
WLPrivateServer.Listener/bin
WLPrivateServer.Listener/obj
WLPrivateServer.Login/bin
WLPrivateServer.Login/obj
WLPrivateServer.PacketHandler/bin
WLPrivateServer.PacketHandler/obj
WLPrivateServer.Packets/bin
WLPrivateServer.Packets/obj
WLPrivateServer.Repository/bin
WLPrivateServer.Repository/obj
WLPrivateServer.Sockets/bin
WLPrivateServer.Sockets/obj
WLPrivateServer.TaskPool/bin
WLPrivateServer.TaskPool/obj
WLPrivateServer.Users/bin
WLPrivateServer.Users/obj

